<div class="row">
    {{#each questions}}
        <div class="col-md-4">
            <div class="card-header">
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title d-flex justify-content-between align-items-center">
                        {{question}} <a href="/questions/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </p>
                    <p>Respuesta: {{solution}}</p>
                    <form action="/questions/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">BORRAR</button>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">No hay ninguna pregunta aún!</p>
                <a href="/questions/add" class="btn btn-success btn-block">INSERTA PREGUNTAS</a>
            </div>
        </div>
    {{/each}}
</div>